Repository Dirac-Software/saleor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, migrations-check

.pre-commit-config.yaml:

default_language_version:
    python: python3.12

exclude: ^(.semgrep|vendored)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^templates/templated_email/compiled/
        exclude_types: [svg,graphql]
      - id: end-of-file-fixer
        exclude: ^templates/templated_email/compiled/
        exclude_types: [svg]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        entry: uv run mypy
        args: [--cache-dir=/dev/null]
        types: [python]
        exclude: (tests|vendored)/

  - repo: local
    hooks:
      - id: deptry
        name: deptry
        language: system
        entry: uv run deptry
        args: [.]
        pass_filenames: false

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.8.14
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: migrations-check
        language: system
        name: Check for uncreated migrations.
        entry: sh -c "uv run ./manage.py makemigrations --check --dry-run"
        files: "models\\.py$"
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: gql-schema-check
        language: system
        name: Check GraphQL schema is up to date.
        entry: sh -c "./manage.py get_graphql_schema | diff saleor/graphql/schema.graphql -"
        stages: [pre-commit]

undo precommit changes
  .pre-commit-config.yaml
Due: none

fix: preserve xero_tax_code when saving tax country rates
  saleor/graphql/schema.graphql
  saleor/graphql/tax/mutations/tax_class_update.py
  saleor/graphql/tax/mutations/tax_country_configuration_update.py
  saleor/graphql/tax/tests/fragments.py
  saleor/graphql/tax/tests/mutations/test_tax_class_update.py
  saleor/graphql/tax/tests/mutations/test_tax_country_configuration_update.py
  saleor/graphql/tax/tests/queries/test_tax_country_configuration.py
Due: mypy

Add orderId support to getPackAllocation to respect warehouse restrictions
  saleor/checkout/pack_utils.py
  saleor/graphql/checkout/resolvers.py
  saleor/graphql/checkout/schema.py
  saleor/graphql/checkout/tests/test_get_pack_allocation.py
  saleor/graphql/schema.graphql
  saleor/warehouse/availability.py
Due: mypy

Store bank sort code and account number on order; show in confirmed email
  saleor/graphql/order/mutations/draft_order_create.py
  saleor/graphql/order/mutations/order_replace_deposit_prepayment.py
  saleor/graphql/order/mutations/order_set_deposit_required.py
  saleor/graphql/order/mutations/utils.py
  saleor/graphql/order/queries/xero_bank_accounts.py
  saleor/graphql/order/tests/mutations/test_order_deposit_mutations.py
  saleor/graphql/order/tests/queries/test_available_xero_bank_accounts.py
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/order/migrations/0232_order_xero_bank_account_sort_code_and_number.py
  saleor/order/models.py
  saleor/order/notifications.py
  saleor/plugins/email_common.py
  saleor/plugins/user_email/default_email_templates/confirmed_order.html
  saleor/plugins/webhook/tests/test_xero_plugin.py
Due: mypy, migrations-check

closes issues 35,46
  saleor/account/tests/test_vat_utils.py
  saleor/account/vat_utils.py
  saleor/checkout/complete_checkout.py
  saleor/checkout/tests/test_vat_exemption.py
  saleor/graphql/order/bulk_mutations/order_bulk_create.py
  saleor/graphql/order/mutations/draft_order_create.py
  saleor/graphql/order/mutations/draft_order_update.py
  saleor/graphql/order/mutations/order_update_shipping_cost.py
  saleor/graphql/order/tests/e2e/xero_contracts/fulfillment_approved.json
  saleor/graphql/order/tests/e2e/xero_contracts/xero_fulfillment_created.json
  saleor/graphql/order/tests/mutations/test_draft_order_update.py
  saleor/graphql/order/tests/mutations/test_order_update_shipping_cost.py
  saleor/graphql/order/tests/mutations/test_order_update_shipping_cost_incoterm_vat.py
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/graphql/shop/mutations/shop_settings_update.py
  saleor/graphql/shop/types.py
  saleor/graphql/webhook/subscription_types.py
  saleor/graphql/webhook/tests/test_subscription_payload.py
  saleor/order/calculations.py
  saleor/order/management/commands/generate_webhook_fixtures.py
  saleor/order/models.py
  saleor/order/tests/test_notifications.py
  saleor/product/tasks.py
  saleor/product/tests/test_price_list.py
  saleor/site/migrations/0045_sitesettings_zero_rated_export_tax_class.py
  saleor/site/models.py
  saleor/tax/calculations/order.py
  saleor/tax/tests/test_behaviour.py
  saleor/tax/tests/test_incoterm_roundtrip.py
  saleor/tax/tests/test_order_calculations.py
  saleor/tax/utils.py
  saleor/tests/e2e/account/account/test_should_login_before_email_confirmation.py
Due: mypy, migrations-check

images on price list, test fix
  saleor/order/tests/benchmark/test_fetch_order_prices.py
  saleor/product/tasks.py
  saleor/product/tests/test_price_list.py
Due: mypy

Fix non-DDP incoterms always using channel country for tax calculation
  saleor/tax/tests/test_utils.py
  saleor/tax/utils.py
Due: mypy

Fix DDP incoterm default causing 500 errors on missing tax rates
  saleor/graphql/order/mutations/order_line_update.py
  saleor/graphql/order/mutations/order_update_shipping_cost.py
  saleor/graphql/order/tests/mutations/test_fulfillment_approve.py
  saleor/graphql/order/tests/mutations/test_order_line_update.py
  saleor/graphql/schema.graphql
  saleor/order/actions.py
  saleor/order/error_codes.py
  saleor/order/migrations/0234_alter_order_inco_term.py
  saleor/order/models.py
  saleor/tax/calculations/order.py
Due: mypy, migrations-check

Add merge_products management command
  saleor/product/management/commands/merge_products.py
Due: mypy

feat: add ExportOrders mutation and improve order CSV/XLSX export
  saleor/csv/tasks.py
  saleor/csv/utils/export.py
  saleor/graphql/csv/mutations/__init__.py
  saleor/graphql/csv/mutations/export_orders.py
  saleor/graphql/csv/schema.py
  saleor/graphql/order/mutations/order_line_update.py
  saleor/graphql/schema.graphql
  saleor/product/price_list_parsing.py
Due: mypy

feat: tests, purchasing notes, and misc fixes
  purchasing.md
  saleor/order/tests/test_auto_approval.py
  saleor/order/tests/test_notifications.py
  saleor/plugins/sendgrid/tests/test_plugin.py
  saleor/plugins/user_email/tests/test_tasks.py
  saleor/product/ingestion.py
  saleor/product/tests/test_price_list.py
  saleor/product/tests/test_price_list_parsing.py
  saleor/tax/tests/test_behaviour.py
  saleor/tax/tests/test_order_calculations.py
  signedproductattributevalue apav ON apav.value_id = av.id
Due: mypy

Fix product_map lookups to use lowercase keys
  saleor/product/tasks.py
  saleor/product/tests/test_ingestion.py
Due: mypy

add product code to export
  saleor/csv/tests/export/test_export_orders.py
  saleor/csv/utils/export.py
Due: mypy

on confirmation purchase orders may only allocate to requested allocations
  saleor/graphql/inventory/enums.py
  saleor/graphql/inventory/mutations/purchase_order_confirm.py
  saleor/graphql/inventory/mutations/purchase_order_delete.py
  saleor/graphql/inventory/types.py
  saleor/graphql/schema.graphql
  saleor/inventory/__init__.py
  saleor/inventory/migrations/0007_purchaseorder_status_and_more.py
  saleor/inventory/models.py
  saleor/inventory/stock_management.py
  saleor/warehouse/management.py
Due: mypy, migrations-check

for draft orders allow price,currency, country of origin to be nullable
  saleor/graphql/inventory/types.py
  saleor/graphql/schema.graphql
  saleor/inventory/migrations/0008_nullable_poi_price_currency_country.py
  saleor/inventory/models.py
  saleor/inventory/stock_management.py
Due: mypy, migrations-check

make tests pass
  saleor/graphql/inventory/mutations/purchase_order_delete.py
  saleor/inventory/stock_management.py
  saleor/inventory/tests/test_auto_fulfillment_creation.py
  saleor/inventory/tests/test_receipt_workflow.py
  saleor/inventory/tests/test_stock_management.py
  saleor/warehouse/tests/test_stock_invariants.py
Due: mypy

add tests for selective PORAs
  saleor/inventory/tests/test_stock_management.py
Due: none

add a allow variant reallocation flag
  saleor/graphql/order/mutations/draft_order_create.py
  saleor/graphql/order/mutations/order_update.py
  saleor/graphql/order/mutations/utils.py
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/order/migrations/0235_order_allow_variant_reallocation.py
  saleor/order/models.py
Due: mypy, migrations-check

add a auto reconcile variants to the po table
  saleor/graphql/inventory/mutations/purchase_order_create.py
  saleor/graphql/inventory/types.py
  saleor/graphql/schema.graphql
  saleor/inventory/migrations/0009_purchaseorder_auto_reallocate_variants.py
  saleor/inventory/models.py
Due: mypy, migrations-check

block fulfillment for any poi with requires attention state
  saleor/graphql/order/mutations/order_fulfill.py
  saleor/graphql/order/tests/mutations/test_order_fulfill_poi_attention_guard.py
  saleor/graphql/schema.graphql
  saleor/inventory/__init__.py
  saleor/inventory/migrations/0010_alter_purchaseorderitem_status.py
  saleor/order/error_codes.py
Due: mypy
